* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-login: #cbd5e1;
    --background-form: #FFFFFF;
    --background-input: #fee2e2;
    --links-color: #292524;
    --color-primary: #7f1d1d;
}

.topo {
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--links-color);
}

.topo img {
    width: 150px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.menu a {
    color: var(--background-form);
    text-decoration: none;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-login);
}

form {
    margin-top: 10em;
    margin-left: 10em;
    display: flex;
    flex-direction: column;
    width: 40em;
    gap: 20px;
}

form div {
    display: flex;
    flex-direction: column;
}

form input {
    width: 350px;
    padding: 8px 10px;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    background-color: var(--background-form);
    margin-top: .8rem;
}

form select {
    width: 7em;
    padding: 8px 10px;
    border-radius: 10px;
    margin-top: .8rem;
    border: none;
    background-color: var(--background-form);
    border: 1px solid var(--color-primary);
}

form label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--links-color);
}

.app-facial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 350px;
}

.id-rep {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 350px;
}

.button input {
    background-color: var(--color-primary);
    border: none;
    color: var(--background-form);
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}